{% extends "store/base.html" %}

{% block title %}
    CHANGE PASSWORD — BAG STORE
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <h1>CHANGE PASSWORD</h1>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                CHANGE PASSWORD
            </button>

        </form>

        <div class="auth-links">

            <p>
                <a href="{% url 'account' %}">
                    BACK TO MY ACCOUNT
                </a>
            </p>

        </div>

    </div>

</section>

{% endblock %}