{% extends "store/base.html" %}

{% block title %}PASSWORD CHANGED — BAG STORE{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <h1>PASSWORD CHANGED</h1>

        <p>
            Your password has been successfully changed.
        </p>

        <div class="auth-links">
            <p>
                <a href="{% url 'login' %}">
                    LOGIN NOW
                </a>
            </p>
        </div>

    </div>

</section>

{% endblock %}